:root{
    --default-background-color: f4f4f4;
    --text-color: #06c;
    --text-size: 50px;
    --cursor-color: orangered;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--default-background-color);
    display: flex;
    height: 100vh;
}

#container{
    align-items: center;
    margin: 10px auto;
    display: flex;
}

#text{
    font-family: "Source Code Pro",Bahnschrift, sans-serif;
    font-size: var(--text-size);
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-color);
    animation: infinite .75s step-end infinite;
}

#cursor{
    height: calc(var(--text-size) + 5px);
    width: 5px;
    margin-left: 2px;
    background-color: var(--cursor-color);
    animation: blink .75s step-end infinite;
}


@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: var(--cursor-color);
    }
}
